@import "reset.css";
@font-face {
    font-family: "Neuton";
    font-style: normal;
    font-weight: normal;
    src: local("Neuton Regular"), local("Neuton"), url("/public/fonts/Neuton.ttf") format("truetype");
}

body {
    background: #d5dade;
}

a {
    color: #546e87;
    text-decoration: none;
}
a:hover {
    color: #3e5469;
}

#logo {
    padding-top: 0;
    margin-left: -270px;
    position: absolute;
    left: 50%;
    top: 20px;
    color: #fff;
    font-size: 32px;
    font-family: 'Neuton', serif;
    font-weight: normal;
    -webkit-text-shadow: #59636c 1px 1px 0;
    -moz-text-shadow: #59636c 1px 1px 0;
    text-shadow: #59636c 1px 1px 0;
}

menu {
    margin-right: -275px;
    position: absolute;
    right: 50%;
    text-align: right;
    padding: 4px 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#54626e), to(#6e7b87));
    background: -moz-linear-gradient(top, #54626e, #6e7b87);
    background: gradient(linear, left top, left bottom, from(#54626e), to(#6e7b87));
    -webkit-box-shadow: inset #98a9b9 0 -1px 0;
    -moz-box-shadow: inset #98a9b9 0 -1px 0;
    box-shadow: inset #98a9b9 0 -1px 0;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    color: #fff;
    font-size: 12px;
}
menu ul {
    margin: 0;
}
menu li {
    list-style-type: none;
    display: inline;
}
menu a {
    color: #BECBD8;
}
menu a:hover {
    color: #D2D8DD;
}
menu .user-mail {
    color: #becbd8;
}

header {
    padding-top: 80px;
    background: #6e7b87;
    background: -webkit-gradient(linear, left top, left bottom, from(#8795a2), to(#6e7b87));
    background: -moz-linear-gradient(top, #8795a2, #6e7b87);
    background: gradient(linear, left top, left bottom, from(#8795a2), to(#6e7b87));
    -webkit-box-shadow: inset #59636c 0 -1px 0;
    -moz-box-shadow: inset #59636c 0 -1px 0;
    box-shadow: inset #59636c 0 -1px 0;
}

#wrapper, nav {
    width: 550px;
    margin: 0 auto;
    background: #f2f2f2;
}

nav {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dbdbdb));
    background: -moz-linear-gradient(top, #f3f3f3, #dbdbdb);
    background: gradient(linear, left top, left bottom, from(#f3f3f3), to(#dbdbdb));
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: inset #b4b5b6 0 -1px 0 , #fff 0 1px 0 inset, #59636c 0 -1px 2px;
    -moz-box-shadow: inset #b4b5b6 0 -1px 0 , #fff 0 1px 0 inset;
    box-shadow: inset #b4b5b6 0 -1px 0 , #fff 0 1px 0 inset;
    -webkit-text-shadow: #fff 1px 1px 0;
    -moz-text-shadow: #fff 1px 1px 0;
    text-shadow: #fff 1px 1px 0;
    font-weight: bold;
    overflow: hidden;
    zoom: 1;
}
nav ul {
    margin: 0;
    padding: 5px;
    float: right;
}
nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav li a {
    display: inline-block;
    padding: 3px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #666;
}
nav li a:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dbdbdb));
    background: -moz-linear-gradient(top, #fff, #dbdbdb);
    background: gradient(linear, left top, left bottom, from(#fff), to(#dbdbdb));
    color: #444;
}
nav li a.active {
    background: -webkit-gradient(linear, left top, left bottom, from(#6e7b87), to(#8795a2));
    background: -moz-linear-gradient(top, #6e7b87, #8795a2);
    background: gradient(linear, left top, left bottom, from(#6e7b87), to(#8795a2));
    -webkit-box-shadow: #fff 0 1px 0;
    -moz-box-shadow: #fff 0 1px 0;
    box-shadow: #fff 0 1px 0;
    color: #fff;
    border-color: #59636c;
    -webkit-text-shadow: #59636c -1px -1px 0;
    -moz-text-shadow: #59636c -1px -1px 0;
    text-shadow: #59636c -1px -1px 0;
}

#search {
    width: 180px;
    margin: 7px;
}

#pagination {
    text-align: center;
    position: relative;
}

#wrapper {
    min-height: 300px;
    background: -webkit-gradient(linear, 0 0, 0 100, from(#dbdbdb), to(#f3f3f3));
    background: -moz-linear-gradient(top, #dbdbdb, #f3f3f3);
    background: gradient(linear, 0 0, 0 50, from(#dbdbdb), to(#f3f3f3));
    -webkit-box-shadow: #fff 0 1px 0 inset, #999 0 1px 2px;
    -moz-box-shadow: #fff 0 1px 0 inset, #999 0 1px 2px;
    box-shadow: #fff 0 1px 0 inset, #999 0 1px 2px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
#spinner {
    text-align: center;
    padding-top: 80px;
}
#list {
    padding: 10px;
}
#noCandidate {
    font-style: italic;
    font-size: 1.1em;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}
.candidate-list {
    padding: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.candidate-list dt {
    font-weight: bold;
    font-size: 15px;
}
.candidate-list:first-child {
    border-top: none;
}
.candidate-list:last-child {
    border-bottom: none;
}
.candidate-list .submition, .noApplicant {
    color: #999;
}
.candidate-list .rate {
    position: absolute;
    top: 10px;
    right: 10px;
}
.candidate-list .submition:before {
    content: "Applied on ";
}
.candidate-list .tags {
    position: absolute;
    right: 70px;
    top: 5px;
}
.tags li {
    display: inline-block;
    margin: 2px;
    padding: 2px 5px;
    background: #cbdcee;
    border: 1px solid #abbfd5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: .8;
}

#candidate {
    padding: 10px;
    position: relative;
}
h1, h2 {
    font-size: 22px;
    font-family: 'Neuton', serif;
    font-weight: normal;
    -webkit-text-shadow: #fff 1px 1px 0;
    -moz-text-shadow: #fff 1px 1px 0;
    text-shadow: #fff 1px 1px 0; 
    margin: 10px;
}

.contact {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
    display: table;
    width: 100%;
}

.contact dt {
    position:absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.contact .type {
    padding: 0 10px 0 0;
    color: #8599af;
}

.contact dd {
    display: block;
    width: 250px;
    float: left;
}
.contact .rate {
    position: absolute;
    top: 28px;
    right: 10px;
}
.original-message{
    margin: 10px;
}
.original-message h2 {
    font-size: 16px;
    margin: 10px 0 0;
}

#candidate .tags {
    padding: 5px;
    margin: 15px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}
#candidate .tags ul {
    margin: 0;
    display: inline-block;
}
#candidate .tags li {
    cursor: pointer;
}
#candidate .tags li:before {
    content: "✕";
    font-size: 10px;
    padding-right: 4px;
}
#candidate .tags li:hover {
    border-color: red;
    background: #fccbcb;
    color: #d60000;
}
#candidate .tags li:hover:before {
    color: #8f0b0b;
}

.discussion .list {
}

.discussion .list dl {
    position: relative;
    overflow: auto;
    padding: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}
.discussion .list dl:first-child {
    border-top: none;
}
.discussion .list dl:last-child {
    border-bottom: none;
}

.discussion .list dt {
    font-weight: bold;
    display: inline-block;
    padding-left: 20px;
}
.discussion .list .date {
    display: inline-block;
    color: #999;
}
.discussion .list .date:before {
    content: "Posted on ";
}

.discussion .list .message {
    padding: 10px 0 0;
}
.discussion .list .rate {
    position: absolute;
    top: 10px;
    right: 10px;
}

.discussion .list .internal-message dt {
    background: url(/public/images/comment.png) no-repeat;
}
.discussion .list .email-message dt {
    background: url(/public/images/mail.png) no-repeat;
}
.discussion .list .himself dt {
    color: #9b0000;
}

#messagezone {
    height: 7px;
    text-align: center;
}

.notification {
    background-color: #f3f3f3;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.rate {
    background: url(/public/images/clear-star.png) left center repeat-x;
    height: 12px;
    width: 52px !important;
    text-indent:-999em;
}
.rate .cursor {
    display: block;
    background: url(/public/images/plain-star.png) left center repeat-x;
    height: 12px;
}

.warning-note {
    color: #c00;
    display: block;
    padding: 10px 0 0 13px;
}

#addTag {
    display: inline-block;
    margin: 0 2px;
    padding: 2px 5px;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 75px;
    vertical-align: baseline;
}

.answer {
    margin: 20px 0;
}

.answer .tabs {
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dbdbdb));
    background: -moz-linear-gradient(top, #f3f3f3, #dbdbdb);
    background: gradient(linear, left top, left bottom, from(#f3f3f3), to(#dbdbdb));
    margin: 0;
    padding: 5px 10px 0;
    border-bottom: #ccc 1px solid;
}

.answer .tabs li {
    display: inline-block;
}
.answer .tabs li a {
    display: inline-block;
    padding: 2px 8px;
    margin-bottom: -1px;
    font-size: 15px;
    -webkit-text-shadow: #fff 1px 1px 0;
    -moz-text-shadow: #fff 1px 1px 0;
    text-shadow: #fff 1px 1px 0;
}
.answer .tabs li a.active {
    color: #444;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f3f3f3));
    background: -moz-linear-gradient(top, #fff, #f3f3f3);
    background: gradient(linear, left top, left bottom, from(#f3f3f3), to(#f3f3f3));
    -webkit-box-shadow: #fff 0 1px 0 inset, #999 0 -1px 2px;
    -moz-box-shadow: #fff 0 1px 0 inset, #999 0 -1px 2px;
    box-shadow: #fff 0 1px 0 inset, #999 0 -1px 2px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.answer #tab-email {
    /* hide tab body by default */
    display: none;
}
.answer label {
    width: 500px;
    display: block;
    margin: 10px auto 0;
    padding: 0;
}
.answer textarea {
    width: 500px;
    height: 100px;
    display: block;
    margin: 5px auto 10px;
    padding: 0;
    border: 1px solid #ccc;
}

#pages li {
    display: inline-block;
}
#pages {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

footer {
    text-align: center;
    color: #6e7b87;
    padding: 20px;
}