#{extends 'main.html' /}
#{set title:'Resume' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/lib/jquery.jeditable.mini.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}
#{set 'nav'}
    <nav>
        <ul>
            <li class="new"><a href="@{Application.box('new')}">Submited</a></li>
            <li class="inprogress"><a href="@{Application.box('inprogress')}">In process</a></li>
            <li class="archived"><a href="@{Application.box('archived')}">Archived</a></li>
        </ul>
    </nav>
#{/}
<div id="candidate">
    <h1 class="inplace" id="name">${resume.name}</h1>
    <dl class="contact">
        <dt>Contact</dt>
        <dd><span class="type">Phone:</span><span id="phone" class="inplace">${resume.phone}</span></dd>
        <dd><span class="type">Mail:</span><span id="email" class="inplace">${resume.email}</span></dd>
    </dl>

    <div class="original-message">
        <p>${resume.message.nl2br()}</p>
        <h2>Attachements</h2>
        <ul class="attachements">
            #{list resume.attachments}
                <li><a href="@{download(_.id)}">${_.name}</a></li>
            #{/list}
        </ul>
    </div>
    
    <div class="discussion">
        <div class="list">
            #{list resume.notes}
            <dl class="${_.internal ? 'internal-message' : 'email-message'} ${_.email == session.email ? 'yourself' : ''} ${resume.email == _.email ? 'himself' : ''}">
                <dt>${_.name}</dt>
                <dd class="date"><date>${_.date.format('dd MMMM yyyy')}</date></dd>
                #{if _.rating}
                    <dd class="rate"><div class="cursor" style="width:${_.rating / 4 * 100}%">${_.rating}</div></dd>                    
                #{/if}
                <dd class="message">
                    <p>${_.comment.nl2br()}</p>
                </dd>
            </dl>
            #{/}
        </div>
        <div class="answer">
            <ul class="tabs">
                <li><a href="#" class="active">Internal note</a></li>
                <li><a href="#">Send an email</a></li>
            </ul>
            <div class="internal">
                #{form @JobApplications.postNote(resume.id)}
                    <label for="comment">Message</label>
                    <textarea id="comment" name="comment"></textarea>
                    <label for="rating">Rating</label>
                    <select name="rating" id="rating" style="width:100px;margin-left:60px;margin-top:-32px">
                        <option value="0" selected>no rating</option>
                        <option value="1">LOL</option>
                        <option value="2">BAD</option>
                        <option value="3">GOOD</option>
                        <option value="4">AWESOME</option>
                    </select>
                    <p>
                        <input type="submit" value="Send" />
                        <input type="submit" value="Send and close" />
                    </p>
                #{/form}
            </div>
            <div class="email">
                #{form @JobApplications.sendMessage(resume.id)}
                    <span style="color:#c00">Your message will be sent!</span>
                    <label for="content">Message</label>
                    <textarea id="content" name="comment"></textarea>
                    <p>
                        <input type="submit" value="Send this message" />
                    </p>
                #{/form}                
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(function(){
        $(".inplace").each(function() {
            var self = this;
            $(this).editable("@{change()}", {
                tooltip: 'Click to edit',
                attribute: this.id,
                style: 'display: inline',
                submitdata : {resumeId: "${resume.id}"},
                width: self.id == "name" ? "auto" : 100
            });
        });

        $(".answer .email").hide();
        $(".tabs a").click(function(e){
            e.preventDefault();
            $(".tabs a").toggleClass("active");
            $(".answer > div").toggle();
        })
    });
</script>
