#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
<script type="text/javascript" charset="utf-8">
    function filter(q) {
        if (q.length < 3) {
            $(".candidate-list").show();
            return;
        }
        $(".candidate-list").each(function(){
            console.log("one candidate");
            var name = $(this).find(".name").text();
            console.log(name.toLowerCase());
            if (name.toLowerCase().indexOf(q) > -1) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }

    $(function(){
        $(".${boxid} a").addClass("active");

        $("#search").keyup(function(){
            var q = $(this).val();
            filter(q.toLowerCase());
        });
    });
</script>
#{/}

<div id="list">
    *{ Candidates go here }*
#{list applications}
    <dl class="candidate-list">
        <dt><a class="name" href="/resume/${_.id}">${_.name}</a></dt>
        <dd class="submition"><date>${_.submitted ? _.submitted.format('dd MMMM yyyy hh:mm:ss') : ''}</date></dd>
        <dd class="rate">
            <div class="cursor" style="width: ${(int)(_.getRating() / 4 * 100)}%"></div>
        </dd>
    </dl>
#{/list}
</div>

#{if applications.size() == 0}
<div id="noCandidate">
    No application here...
</div>
#{/}

#{if pageCount > 1}
<div id="pages">
    <ul
    #{list Math.max(0, pageId-4)..Math.min(pageCount-1, pageId+4)}
        <li>
            #{if (pageId == _)}
            ${_}
            #{/if}
            #{else}
            <a href="@{box(boxid, _)}">${_}</a>
            #{/else}
        </li>
    #{/}
    </ul>
</div>
#{/if}

<script type="text/template" charset="utf-8">
    <dl class="candidate-list">
        <dt>John Doe</dt>
        <dd class="submition"><date>11/11/11</date></dd>
        <dd class="tags">
            <ul>
                <li>Developer</li>
                <li>Python</li>
                <li>Javascript</li>
            </ul>
        </dd>
        <dd class="rating">
            *{ lol | bad | good | awesome }*
            <span class="awesome"></span>
        </dd>
    </dl>
</script>
