#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
<script>

function filter(q) {
    if (q.length < 3) {
        $(".candidate-list").show();
        return;
    }
    $(".candidate-list").each(function(){
        console.log("one candidate");
        var name = $(this).find(".name").text();
        console.log(name.toLowerCase());
        if (name.toLowerCase().indexOf(q) > -1) {
            $(this).show();
        } else {
            $(this).hide();
        }
    });
}

$(function(){
    $(".${boxid} a").addClass("active");

    $("#search").keypress(function(){
        var q = $(this).val();
        filter(q.toLowerCase());
    });

});

</script>
#{/}

#{set 'nav'}
            <nav>
                <input type="search" results="10" placeholder="Search" id="search" />
                <ul>
                    <li class="new"><a href="@{box('new')}">Submited</a></li>
                    <li class="inprogress"><a href="@{box('inprogress')}">In process</a></li>
                    <li class="archived"><a href="@{box('archived')}">Archived</a></li>
                </ul>
            </nav>
#{/}

<div id="list">
    *{ Candidates go here }*
#{list applications}
    <dl class="candidate-list">
        <dt><a class="name" href="/resume/${_.id}">${_.name}</a></dt>
        <dd class="submition"><date>${_.submitted}</date></dd>
        <dd class="tags">
            <ul>
            #{list _.tagsList()}
                <li>${_}</li>
            #{/list}
            </ul>
        </dd>
        <dd class="rating">
            *{ lol | bad | good | awesome }*
            <span class="awesome"></span>
        </dd>
    </dl>
#{/list}
</div>

<script type="text/template" charset="utf-8">
    <dl class="candidate-list">
        <dt>John Doe</dt>
        <dd class="submition"><date>11/11/11</date></dd>
        <dd class="tags">
            <ul>
                <li>Developer</li>
                <li>Python</li>
                <li>Javascript</li>
            </ul>
        </dd>
        <dd class="rating">
            *{ lol | bad | good | awesome }*
            <span class="awesome"></span>
        </dd>
    </dl>
</script>
<script type="text/javascript" charset="utf-8">
    var Resume = Backbone.Model.extend({
    
    });
</script>