#{extends 'main.html' /}
#{set title:'Home' /}

<div id="list">
    *{ Candidates go here }*
</div>

<div id="noCandidate" style="display: none;">
    No application here...
</div>

<div id="spinner" style="display: none">
    <img src="@{'/public/images/throbber.gif'}" />
</div>

<div id="pagination">
</div>

<script id="applicantTmpl" type="text/template" charset="utf-8">
    <dl class="candidate-list">
        <dt><a class="name" href="/resume/{{= id }}">{{= name }}</a></dt>
        <dd class="submition"><date>{{= formattedDate }}</date></dd>
        <dd class="rate">
            <div class="cursor" style="width: {{= stars }}%"></div>
        </dd>
    </dl>
</script>
<script id="noApplicantTmpl" type="text/template" charset="utf-8">
    <dl class="candidate-list noApplicant">
        <dt>No current applications {{= status}}</dt>
        <dd></dd>
    </dl>
</script>
#{set 'moreScripts'}
<script src="@{'/public/javascripts/applicationlist.js'}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">

    var w;

    $("#search").keyup(function(){
        var q = $(this).val();
        if (q.length < 3) {
            window.location.hash = "#" + w.box;
            return;
        }
        window.location.hash = "#" + w.box + "/" + q;
    });

    $(function(){
        w = new Workspace();
        Backbone.history.start();
    });

</script>
#{/}