#{extends 'main.html' /}
#{set title:'Home' /}

<div id="list">
    *{ Candidates go here }*
</div>

<div id="noCandidate" style="display: none;">
    No application here...
</div>

<div id="spinner" style="display: none">
    <img src="@{'/public/images/throbber.gif'}" />
</div>

<div id="pagination">
</div>

<script id="applicantTmpl" type="text/template" charset="utf-8">
    <dl class="candidate-list">
        <dt><a class="name" href="/resume/{{= id }}">{{= name }}</a></dt>
        <dd class="tags">
            <ul>{{each tags}}
                <li><a href="{{= box}}/tag:{{= $value}}">{{= $value}}</a></li>
            {{/each}}</ul>
        </dd>
        <dd class="submition"><time>{{= formattedDate }}</time></dd>
        <dd class="rate">
            <div class="cursor" style="width: {{= stars }}%"></div>
        </dd>
    </dl>
</script>
<script id="noApplicantTmpl" type="text/template" charset="utf-8">
    <dl class="candidate-list noApplicant">
        <dt>No current applications {{= status}}</dt>
        <dd></dd>
    </dl>
</script>
#{set 'moreScripts'}
<script src="@{'/public/javascripts/applicationlist.js'}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">

    var w;
    var searchTimeout = null

    // TODO: Move the searchbar related functionality to a different JS file
    function applySearch(delay) {
        if (searchTimeout) {
            window.clearTimeout(searchTimeout);
        }
        searchTimeout = window.setTimeout(function(){
            var q = $("#search").val()
            if (q.length < 3) {
                window.location.hash = "#" + w.box;
                return;
            }
            window.location.hash = "#" + w.box + "/" + q;
        }, delay ? 300 : 0);
    }

    $("#search").keyup(function(){
        applySearch(true);
    });

    $("#search").click(function(){
        if ($(this).val() == "")
            applySearch();
    });

    $(function(){
        w = new Workspace();
        Backbone.history.start();
    });

</script>
#{/}