#{extends 'main.html' /}
#{set title:'Great People' /}

<div id="applist">
    *{ Candidates go here }*
</div>

<div id="noCandidate" style="display: none;">
    No application here...
</div>

<div id="spinner" style="display: none">
    <img src="@{'/public/images/throbber.gif'}" />
</div>

<div id="pagination">
</div>

<script id="applicantTmpl" type="text/template">
    <dt><a class="name" href="<%= url %>"><%= name %></a></dt>
    <dd class="tags">
        <ul>
            <% for (i in tags) { %> <li><a href="#" data="<%= tags[i] %>"><%= tags[i] %></a></li> <% } %>
        </ul>
    </dd>
    <dd class="submition"><time><%= formattedDate %></time></dd>
    <dd class="rate">
        <div class="cursor" style="width: <%= stars %>%"></div>
    </dd>
</script>
<script id="noApplicantTmpl" type="text/template">
    <dl class="candidate-list noApplicant">
        <dt>No current applications <%= status%></dt>
        <dd></dd>
    </dl>
</script>
<script id="pageLink" type="text/template">
<a href="<%= link %>"><%= page %></a>
</script>
#{set 'moreScripts'}
<script type="text/javascript" charset="utf-8">

    $(function(){
        var w = new Workspace();
        $("#search").searchbox(w);
        Backbone.history.start();
    });

</script>
#{/}
