<!DOCTYPE html>
<html>
<head>
    <title>#{get 'title' /}</title>
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
    <link href='http://fonts.googleapis.com/css?family=Neuton&subset=latin' rel='stylesheet' type='text/css'>
    #{get 'moreStyles' /}
</head>
<body>
    <menu>
        <ul>
            <li class="user-name">${session.name} <span class="user-mail">(${session.email})</span></li> |
            <li><a href="@{Auth.logout()}">logout</a></li>
        </ul>
    </menu>
    <header>
        <a href="/" id="logo">Great People</a>
        <nav>
            <input type="search" results="10" placeholder="Search" id="search" />
            <ul>
                <li class="navlink new"><a href="@{Application.index()}#new">Submitted #{if newCount}(${newCount})#{/if}</a></li>
                <li class="navlink inprogress"><a href="@{Application.index()}#inprogress">In process  #{if inprogressCount}(${inprogressCount})#{/if}</a></li>
                <li class="navlink archived"><a href="@{Application.index()}#archived">Archived #{if archivedCount}(${archivedCount})#{/if}</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrapper">
        #{doLayout /}
    </div>
    <footer>
        ©zenexity.com
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/public/javascripts/lib/jquery-1.6.1.min.js">\x3C/script>')</script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script>window.jQuery.tmpl || document.write('<script src="/public/javascripts/lib/jquery.tmpl.min.js">\x3C/script>')</script>
    #{if play.Play.mode.isDev() }
    <script src="@{'/public/javascripts/greatpeople.min.js'}"></script>
    #{/if}
    #{else}
    <script src="@{'/public/javascripts/lib/underscore-min.js'}"></script>
    <script src="@{'/public/javascripts/lib/backbone-min.js'}"></script>
    <script src="@{'/public/javascripts/lib/jquery.history.js'}"></script>
    <script src="@{'/public/javascripts/lib/jquery.jeditable.js'}"></script>
    <script src="@{'/public/javascripts/src/applicationlist.js'}"></script>
    <script src="@{'/public/javascripts/src/notification.js'}"></script>
    <script src="@{'/public/javascripts/src/searchbox.js'}"></script>
    #{/else}
    #{get 'moreScripts' /}
</body>
</html>
