<!DOCTYPE html>
<html>
    <head>
        <title>Great People :: #{get 'title' /}</title>
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link href='http://fonts.googleapis.com/css?family=Neuton&subset=latin' rel='stylesheet' type='text/css'>
        #{get 'moreStyles' /}
        <script src="@{'/public/javascripts/lib/jquery-1.4.4.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/lib/underscore-min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/lib/backbone.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <menu>
            <ul>
                <li class="user-name">${session.name} <span class="user-mail">(${session.email})</span></li>
            </ul>
        </menu>
        <header>
            <a href="/" id="logo">Great People</a>
            #{get 'nav' /}
        </header>
        <div id="wrapper">
            #{doLayout /}
        </div>
        <footer>
            ©2010 zenexity.com
        </footer>
    </body>
</html>